@import url('https://fonts.googleapis.com/css2?family=Overpass&family=Poppins:ital@0;1&display=swap');

:root{

     
    --clr-primary-red: hsl(0, 100%, 74%);
    --clr-green:hsl(154, 59%, 51%);
    --clr-blue:hsl(248, 32%, 49%);
    --clr-dark-blue:hsl(249, 10%, 26%);
    --clr-grayish-blue: hsl(246, 25%, 77%);

}

body{
    font-family: "Poppins";
    background-image: url("./images/bg-intro-desktop.png");
    background-color: var(--clr-primary-red);
    color: white;

}

.container{
    display: grid;
    grid-template-columns: 1fr auto;
    margin: auto auto;
    
}
.left-content,.create-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
}

/* .create-form{
    
    justify-content: center;
    
} */

/* .left-content{
    display: grid;
    grid-template-columns:1fr auto;
    grid-column: unset;
} */

.create-form{
    display: block;
}

.create-form > input{
    display: flex;
    justify-content: center;
    
    /* flex-direction: row; */
}

.sub{
    background: var(--clr-green);
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    width: 100%;

}
.price-tag{
    background: var(--clr-blue);
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0px 2px var(--clr-grayish-blue);
    margin: 8px;

}

form{
    display: block;
    background-color:  hsl(0 0% 100%);
    padding: 30px;
    border-radius: 6px;
    margin: 8px;
    /* max-width: 300px; */
    
}
form > button{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}

input{
    border-radius: 4px;
    width: 90%;
    padding: 15px;
    font-weight: 800;
    border: 2px solid;
    /* border-color: aqua; */
    margin-bottom: 5px;
    border-color: var(--clr-grayish-blue);
    /* border-color: rgb(69, 211, 216); */
    /* transition: 5s; */

    
}

.info-line{
    color: var(--clr-grayish-blue);
    font-size: 8px;
}

.terms{
    color: var(--clr-primary-red);
    font-weight: 600;
}

input:focus  {
    border:2px solid green;
}


.nameErr{
    color: rgb(249, 35, 35);
    text-align: end;
    font-size: 10px;

}

    
@media screen and (max-width: 500px) {

    .container {
      display: grid;
      grid-template-columns: auto;
      /* width: 100%; */
      margin: 0;
    }
    .left-content,.create-form  {
        /* max-width: 300px; */
        /* margin: 0 auto; */
        padding:5px;
        margin: 10px;

    }
  }